# Dependencies
node_modules
.pnp
.pnp.js

# Build output
.next/
out/
dist/
build/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
/coverage
/playwright-report
/test-results
/playwright/.cache

# Misc
.DS_Store
*.pem
Thumbs.db

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Editor
.vscode/
.idea/
*.swp
*.swo

# Vercel
.vercel

# Turbopack
.turbo
